.snapkeyboard {
    $text : #006600;
    $background : #F2F7F1;
    $keyborder : #88aca0;
    $different-key : #FECB00;
    $help-button : #BDDBB7;

    text {
        font-family: Verdana;
        font-weight: bold;
        color: $text;
        fill: $text;
        cursor: pointer;
        stroke-width: 0;
    }
    .key {
        fill: $background;
        background-color: $background;
        border: $keyborder;
        stroke: $keyborder;
        stroke-width: 1px;
        cursor: pointer;
        .active {
            font-weight: bold;
        }
        .not-active {
            font-weight: normal;
        }
    }
    .small-text text {
        font-size: .75em;
        padding-bottom: 4px;
    }
    .ok {
        rect {
            fill: $different-key;
            background-color: $different-key;
        }
        polygon {
            fill: $different-key;
            background-color: $different-key;
            &.arrow {
                fill: $text;
                stroke: $text;
                cursor: pointer;
            }
        }
    }
    polygon.arrow {
        fill: $text;
        stroke: $text;
        cursor: pointer;
    }
    .help rect {
        fill: $help-button;
    }
}